.main {
  > .inner {
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: $inner-max-width;
    overflow: hidden;
    > .row-container {
      display: flex;
      flex-direction: column;
      height: calc(100vh - 192px); // 192px is height of display
      justify-content: stretch;
      > .row {
        flex: 1;
      }
    }
  }
}
