.main .row {
  display: flex;
  flex-wrap: nowrap;
  > .wrapper-button {
    display: flex;
    align-content: stretch;
    &.wide {
      width: 50%;
    }
    width: 25%;
    > .button {
      &.green {
        color: $green;
      }
      &.equal {
        color: #fff;
        background-color: $green;
        &:active {
          background-color: darken($green, 5%);
        }
      }
      display: block;
      width: 100%;
      background-color: $gray;
      color: #fff;
      font-weight: 600;
      font-size: 4rem;
      border: 1px solid darken($gray, 5%);
      &:active {
        background-color: darken($gray, 5%);
      }
    }
  }
}
